@charset "UTF-8";
/* 
EM HTML É ID ==  em CSS É # 
EM HTML É CLASS == em CSS É. */

body{
    background-color: #00ff00;
    font-family: Arial, Helvetica, sans-serif;

}

h1{

    color:rgb(4,109,0);
}

h2{
    color: rgb(51,77,49);
}

#principal{
    text-align: center;
    BACKGROUND-color: rbg(4,109,0);
    color:white;
}
.lol{
    font-weight: bold;
    color:purple;
    border-style: dotted;
}