@charset "UTF-8";

    *{
         text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
    }

    body{
        background-image: linear-gradient(to right, rgba(7, 128, 68, 0.603),rgb(65, 129, 65,0.603),white);
        list-style-type: square;
    }
    ul{
        list-style-type:none;
      
    }
    a{
        text-decoration:none;
    }
   
        

     .list1{
         justify-content: flex-end;
     }
  
