@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;

}
*{
    margin:0;
    padding:0;
    
}
html, body{
    background-color: white;
    min-height: 100vh;
    font-family: var(--font01);
    
}
header{
    color: white;
    background-color: black;
    text-align: center;
    
}
header h1{
    font-family: var(--font02);
    padding-top: 50px;
    font-size: 8vw;
    font-variant: small-caps;

}
header p{
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 50px;
}
header a , footer a {
    text-decoration: none;
    color: white;
}
header a:hover, footer a:hover{
    color: brown;
}
section{
    font-size: 1vw;
    font-family: var(--font03);
    text-align: justify;
    line-height: 2em; 
    padding-left: 20px; 
    padding-top: 10vh;
    padding-bottom: 10vh; 
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color:black; 
}
section.imagem{
    background-color: grey;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.616);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    display: inline-block;
    padding:5px;
    background-color: rgba(0, 0, 0, 0.253);
    text-shadow: 1px 1px 0px black;
}
section#img01{
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    
    
}
section#img02{
    background-image: url("../imagens/background002.jpg");
    
    
}
footer{
    padding-left: 20px;
   
    background-color: black;
   
}
footer p{
    color: white;
    text-align: center;
    padding:10px;
    
}